<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<connectionStrings>
  <add name="cadena_conexion" connectionString="Data Source=DESKTOP-TQK5STV\SISTEMASANTOS;Initial Catalog=ControlAsistenciaDocente;Integrated Security=True"
   providerName="System.data.SqlClient" />
  <add name="capa_presentacion.Properties.Settings.ControlAsistenciaDocenteConnectionString"
   connectionString="Data Source=DESKTOP-TQK5STV\SISTEMASANTOS;Initial Catalog=ControlAsistenciaDocente;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>